.example-container {
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    border: 1px solid rgb(239,239,239);
    
  }

  .mat-drawer{
    width: 20%;
    background-color: white !important;
    color: black;
  }

  mat-drawer-content{
    padding: 10px;
    width: 79%;
    background-color:rgb(239,239,239) !important;
    color: black;
    float: right;
  }

  .list-item{
    color: black;
    width: 99%  !important;
    margin: 0 !important;
    padding: 0 !important;
  }


  .seleted-item{
    border-right: 3px solid orange;
  }