<mat-drawer-container class="example-container">
  <mat-drawer class="mat-drawer" mode="side" opened>

      <mat-list>
        <mat-list-item class="list-item seleted-item">  <a mat-button href="https://www.google.com/">Home</a> </mat-list-item>
        <mat-list-item class="list-item">  <a mat-button href="https://www.google.com/">Question</a> </mat-list-item>
        <mat-list-item class="list-item">  <a mat-button href="https://www.google.com/">About</a> </mat-list-item>
      </mat-list>
  </mat-drawer>

  <mat-drawer-content class="mat-drawer-contain">
    Main content
  </mat-drawer-content>
</mat-drawer-container>