mat-toolbar{
    background-color: rgb(250,250,251);
    color:black;
    border-top: 2px solid coral;
    box-shadow: 0 10px rgb(239,239,239);
}

mat-form-field{
    padding-bottom: 0;
}

.text-detail{
    font-size: 13px !important
}

mat-drawer-container{
    height: 100%  !important;
}