<mat-toolbar fxLayout="row">
    <div fxFlex="35">
        <span>FPTOverflow</span>
    </div>
    
    <form fxFlex="65">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon aria-hidden="false">search</mat-icon>
        </button>
        <mat-form-field class="example-full-width">
            <input matInput />
        </mat-form-field>
    </form>
    
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>account_box</mat-icon>
    </button>
    <span class="text-detail">Hello, Hai Pham</span>
    <button mat-icon-button  class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
