<div class="question" fxLayout="row">

    <div fxFlex="5.5">
        <button mat-raised-button color="accent">Votes <br/> 10</button>
    </div>

    <div fxFlex="6">
        <button mat-raised-button color="accent">Anwser<br/> 10</button>
    </div>

    <div fxFlex="6">
        <button mat-raised-button color="accent">View <br/> 10</button>
    </div>

    <div fxLayout="column">
        <h2>I need to change password in function.php</h2>
        <div fxLayout="row">
            <div fxFlex="20">
                <button mat-raised-button>.net</button>
            </div>
            <div fxFlex="20">
                <button mat-raised-button>PHP</button>
            </div>
        </div>
        
    </div>  

</div>